@page
@model CalculatorModel
@{
    ViewData["Title"] = "Calculator";
}

@section CSS
{
    <link href="assets/css/calculator.css" rel="stylesheet" />
}

<main class="container-fluid calculator-main-content">
    <div class="row">
        <div class="col col-12 col-lg-6">
            @if (Model.Journals.Count() == 0)
            {
                <section class="shadow-lg publication" style="        margin-bottom: 100px">
                    <header class="text-center">
                        <h3>Instructions</h3>
                    </header>
                    <hr>
                    <div>
                        <ol>
                            <li>Download '.csv' file containing sample data.</li>
                            <li>Modify downloaded file with your own custom data.</li>
                            <li>Upload modified file for processing.</li>
                            <li>Click the 'Calculate' button to see your results.</li>
                        </ol>
                    </div>
                    <hr>
                    <form method="post" enctype="multipart/form-data">
                        <div class="row text-center">
                            <div asp-validation-summary="All" style="        color: red"></div>
                            <div class="col"><a class="btn btn-primary btn-block" asp-controller="Sample" asp-action="GetSample">Sample&nbsp;<i class="fas fa-download"></i>&nbsp;</a></div>
                            <div class="col"><label>Upload your data&nbsp;</label><i class="fas fa-upload"></i><input asp-for="CsvFile" style="        width: 200px"></div>
                            <div class="col"><button class="btn btn-success btn-block" type="submit">Calculate&nbsp;<i class="fas fa-cogs"></i></button></div>
                        </div>
                    </form>
                </section>
            }
            else
            {
                @foreach (var journal in Model.Journals)
                {
                    <section class="shadow-lg publication">
                        <div>
                            <div class="form-group">
                                <label class="publication-label">Journal</label>
                                <p>@journal.Title</p>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label class="publication-label">Amount of contributions</label>
                                <p><strong>@journal.Contributions</strong>&nbsp;contribution(s)</p>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label class="publication-label">Scientific domains score</label>
                                <div class="form-row">
                                    <div class="col">
                                        @for (int i = 0; i < journal.Domains.Count / 2; i++)
                                        {
                                            <span class="scientific-domain"><i class="@journal.Domains[i].Icon"></i>&nbsp;@journal.Domains[i].Name:&nbsp;<strong class="@journal.Domains[i].Class">@journal.Domains[i].Value</strong>&nbsp;</span>
                                        }
                                    </div>
                                    <div class="col">
                                        @for (int i = journal.Domains.Count / 2; i < journal.Domains.Count; i++)
                                        {
                                            <span class="scientific-domain"><i class="@journal.Domains[i].Icon"></i>&nbsp;@journal.Domains[i].Name:&nbsp;<strong class="@journal.Domains[i].Class">@journal.Domains[i].Value</strong>&nbsp;</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                }
            }
        </div>
        <div class="col col-12 col-lg-6">
            <section class="chart">
                <div class="chart-display"><canvas id="results-chart"></canvas></div>
            </section>
        </div>
    </div>
</main>

@section Scripts
{
    <script src="assets/js/chart.js"></script>
    <script src="assets/js/calculator.js"></script>
    <script>
        initChart(@Model.ResultsJSON);

        $('#btn-submit').click(function () {
            $('#file-form').submit();
        });
    </script>
}